In [126]:
## Knowledge check unsing API

In [127]:
import requests
import json
import pandas as pd

url = 'https://randomuser.me/api/'
users_API = requests.get('https://randomuser.me/api/')
print(users_API)
# Looking for the '200' repsonse to verify connection

<Response [200]>

In [128]:
users_data = users_API.text
json = users_API.json()
json.keys()
# there are two dictionary keys in this API 'results' and 'info'
json['results']

[{'gender': 'female',
  'name': {'title': 'Mrs', 'first': 'Amelia', 'last': 'Novak'},
  'location': {'street': {'number': 98, 'name': 'Bay Ave'},
   'city': 'Chipman',
   'state': 'New Brunswick',
   'country': 'Canada',
   'postcode': 'A2J 2Y5',
   'coordinates': {'latitude': '-69.7690', 'longitude': '36.0903'},
   'timezone': {'offset': '-6:00',
    'description': 'Central Time (US & Canada), Mexico City'}},
  'email': 'amelia.novak@example.com',
  'login': {'uuid': '1b630334-171c-4e76-9d98-d6b88c6d56ed',
   'username': 'orangesnake444',
   'password': 'moonligh',
   'salt': 'EgX7BxhY',
   'md5': '21979d1d9e86828c9761b92e8ee0024a',
   'sha1': '936e60f306ece02e177973fc72ca5a94a9100f83',
   'sha256': '65fd09e9ef9974221bcb26f9e49ce9def0a3323c03131e21d4cff7060dc6d085'},
  'dob': {'date': '1986-11-12T02:03:19.203Z', 'age': 36},
  'registered': {'date': '2013-07-15T21:57:53.365Z', 'age': 9},
  'phone': 'U48 I39-8910',
  'cell': 'Q56 R72-0401',
  'id': {'name': 'SIN', 'value': '019336783'},
  'picture': {'large': 'https://randomuser.me/api/portraits/women/48.jpg',
   'medium': 'https://randomuser.me/api/portraits/med/women/48.jpg',
   'thumbnail': 'https://randomuser.me/api/portraits/thumb/women/48.jpg'},
  'nat': 'CA'}]

In [129]:
random_users_df = pd.DataFrame(json['results'])
random_users_df.shape
#one row, twelve columns

(1, 12)

In [130]:
random_users_df['gender']

0    female
Name: gender, dtype: object

In [131]:
random_users_df[['name', 'location']]
#second and third column

,name,location
0,"{'title': 'Mrs', 'first': 'Amelia', 'last': 'N...","{'street': {'number': 98, 'name': 'Bay Ave'}, ..."

In [132]:
random_users_df.head(4)

#since this API updates everytime you run the cells, it only shows on row at a time, however the above code would produce the first 4 rows if there were more than one

,gender,name,location,email,login,dob,registered,phone,cell,id,picture,nat
0,female,"{'title': 'Mrs', 'first': 'Amelia', 'last': 'N...","{'street': {'number': 98, 'name': 'Bay Ave'}, ...",amelia.novak@example.com,{'uuid': '1b630334-171c-4e76-9d98-d6b88c6d56ed...,"{'date': '1986-11-12T02:03:19.203Z', 'age': 36}","{'date': '2013-07-15T21:57:53.365Z', 'age': 9}",U48 I39-8910,Q56 R72-0401,"{'name': 'SIN', 'value': '019336783'}",{'large': 'https://randomuser.me/api/portraits...,CA